@use '../../scss/abstracts/' as *;

.countries {
	@include flex(center, $wrap: wrap);
	gap: 5rem;
	padding-bottom: 10rem;

	.error {
		color: var(--text-clr);
		font-family: var(--ff-primary);
		font-size: 1.25rem;
		text-align: center;
	}
}
