@font-face {
	font-family: 'Nunito Sans', sans-serif;
	src: url('../../assets/fonts/nunitosans-light.woff') format('woff'),
		url('../../assets/fonts/nunitosans-light.woff2') format('woff2');
	font-weight: 300;
}

@font-face {
	font-family: 'Nunito Sans', sans-serif;
	src: url('../../assets/fonts/nunitosans-semibold.woff') format('woff'),
		url('../../assets/fonts/nunitosans-semibold.woff2') format('woff2');
	font-weight: 600;
}

@font-face {
	font-family: 'Nunito Sans', sans-serif;
	src: url('../../assets/fonts/nunitosans-extrabold.woff') format('woff'),
		url('../../assets/fonts/nunitosans-extrabold.woff2') format('woff2');
	font-weight: 800;
}
